



a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  nav a:hover {
    background-color: black;
  }
}


  body {
    display: flex;
    place-items: center;
  }
nav {
  display: flex;
  gap: 10%;
}

nav a {
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  
}



